.DS_Store
.cursor/
.build/
build/
NeoAnkiCore/build/
Xcode/build/
.swiftpm/
xcuserdata/
DerivedData/
.local/
*.xcodeproj/
!UITests/NeoAnki2UITests.xcodeproj/
!UITests/NeoAnki2UITests.xcodeproj/**
!Xcode/NeoAnkiMac.xcodeproj/
!Xcode/NeoAnkiMac.xcodeproj/**
!Xcode/NeoAnkiiOS.xcodeproj/
!Xcode/NeoAnkiiOS.xcodeproj/**
*.xcworkspace/
!UITests/NeoAnki2UITests.xcodeproj/project.xcworkspace/
!UITests/NeoAnki2UITests.xcodeproj/project.xcworkspace/**
