.DS_Store
.cursor/
.build/
.swiftpm/
xcuserdata/
DerivedData/
*.xcodeproj/
!UITests/NeoAnki2UITests.xcodeproj/
!UITests/NeoAnki2UITests.xcodeproj/**
*.xcworkspace/
!UITests/NeoAnki2UITests.xcodeproj/project.xcworkspace/
!UITests/NeoAnki2UITests.xcodeproj/project.xcworkspace/**
